@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none !important;
}



/* for Custom Cursor */

#custom-cursor {
  width: 32px;
  height: 32px;
  background-size: contain;
  transition: transform 0.1s ease;
}




/* For WebKit Browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 200px; /* Scrollbar width */
}

*::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #ff9a9e, #fad0c4); /* Track gradient */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a18cd1, #fbc2eb); /* Thumb gradient */
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9e768f, #f67280); /* Hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a18cd1 #ff9a9e; /* Thumb color and track color */
}


/* Custom inner shadow */
.shadow-inner-button {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}
